@model QueHacerHoyCultura.Entidades.Eventos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Eventos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreEvento" class="control-label"></label>
                <input asp-for="NombreEvento" class="form-control" />
                <span asp-validation-for="NombreEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lugar" class="control-label"></label>
                <input asp-for="Lugar" class="form-control" />
                <span asp-validation-for="Lugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEvento" class="control-label"></label>
                <input asp-for="FechaEvento" class="form-control" />
                <span asp-validation-for="FechaEvento" class="text-danger"></span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
            </div>
            <div class="form-group">
                <label asp-for="LocalidadId" class="control-label"></label>
                <select asp-for="LocalidadId" class ="form-control" asp-items="ViewBag.Localidad"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoEventoId" class="control-label"></label>
                <select asp-for="TipoEventoId" class ="form-control" asp-items="ViewBag.TipoEvento"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
