@model QueHacerHoyCultura.Entidades.Eventos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Eventos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NombreEvento" class="control-label"></label>
                <input asp-for="NombreEvento" class="form-control" />
                <span asp-validation-for="NombreEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lugar" class="control-label"></label>
                <input asp-for="Lugar" class="form-control" />
                <span asp-validation-for="Lugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEvento" class="control-label"></label>
                <input asp-for="FechaEvento" class="form-control" />
                <span asp-validation-for="FechaEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenEvento" class="control-label"></label>
                <input asp-for="ImagenEvento" class="form-control" />
                <span asp-validation-for="ImagenEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalidadId" class="control-label"></label>
                <select asp-for="LocalidadId" class="form-control" asp-items="ViewBag.LocalidadId"></select>
                <span asp-validation-for="LocalidadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEventoId" class="control-label"></label>
                <select asp-for="TipoEventoId" class="form-control" asp-items="ViewBag.TipoEventoId"></select>
                <span asp-validation-for="TipoEventoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
